/*
todos:
:where(selectors) so they can be easely overwritten ?
*/
html {
  --u-ico-font:"Material Icons";
}
u-ico {
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased; /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility; /* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; /* Support for Firefox. */
  font-feature-settings: 'liga'; /* Support for IE. */
  font-family: var(--u-ico-font) !important;

  /* ok? */
  display: inline-block; /* inline-flex has an other baseline? */
  text-align:center;
  font-size: 1.5rem; /* 24px Preferred icon size, material-icons */
  /* overflow:hidden
    + prevents layout-shift on font load.
    - But baseline gets to the box insetad of the text.
    - Some Icons on some Fonts may get cuted?
  */
  overflow:hidden;
}

[icon]::after { /* todo if supported: :where([icon]::after) { */
    content:attr(icon);
}

/* BETA! */
/* inline */
u-ico[inline] {
  overflow:visible;
  font-size:1em; /* reset font to 1em instead of 1.5rem */
  vertical-align: text-bottom;
  xwidth:1em;
}

/* js | better generate in js? *
html.u-ico-js u-ico { width:1em; }
html.u-ico-ready u-ico { width: auto; }

u-ico[failed] {
  overflow:visible;
  width:auto;
  --u-ico-font:initial;
  xxxfont-family:inherit;
}

/* USEFUL? */
/* theming *
u-ico {
  color: var(--u-ico-color);
  font-size:var(--u-ico-size):
  xoverflow: hidden;
}
