html {
  --u-ico-font:"Material Icons";
  x--u-ico-size:1.5rem;
  x--u-ico-color:currentColor;
}
u-ico {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased; /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility; /* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; /* Support for Firefox. */
  font-feature-settings: 'liga'; /* Support for IE. */

  /* ok? */
  font-family: var(--u-ico-font) !important;
  xfont-size: var(--u-ico-size);
  xfont-size: 24px;  /* Preferred icon size, material-icons */
  font-size: 1.5rem;
  text-align:center;
  overflow:hidden; /* prevents layout-shift on font load, bud baseline gets to the box insetad of the text */
}

u-ico[icon]::after {
    content:attr(icon);
}

/* theming *
u-ico {
  color: var(--u-ico-color);
  font-size:var(--u-ico-size):
  xoverflow: hidden;
}
/* inline *
u-ico[inline] {
  overflow:visible;
  position: relative;
  bottom: -0.11em;
  display:inline;
}
/* js | better generate in js? *
html.u-ico-js u-ico { width:1em; }
html.u-ico-ready u-ico { width: auto; }

u-ico[failed] {
  overflow:visible;
  width:auto;
  --u-ico-font:initial;
  xxxfont-family:inherit;
}
/* */